@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-33.333%);
    }
  }
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
    display: flex;
    width: max-content;
  }
  
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}

